[Unit]
Description=WAMU Radio Stream Player
After=network-online.target sound.target bluetooth.target
Wants=network-online.target bluetooth.target
Requires=network-online.target bluetooth.target
StartLimitIntervalSec=30
StartLimitBurst=1

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/radio-pi
ExecStart=/usr/bin/python3 /home/pi/radio-pi/scripts/radio.py
Restart=always
#RestartSec=15

# Environment
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=HOME=/home/pi
Environment=PYTHONPATH=/home/pi/radio-pi
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="PULSE_RUNTIME_PATH=/run/user/1000/pulse/"

# Security settings
ReadWritePaths=/home/pi/radio-pi /tmp /var/log

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=radio-player

[Install]
WantedBy=multi-user.target
